<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
    </head>
    <body>
        {{if .Name}}
        <h1>Hi, {{.Name}}</h1>
        {{else}}
        <h1>Hello World!</h1>
        {{end}}
    </body>
</html>