<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
    </head>
    <body>
        <h1>Hi, {{.Name}}</h1><br>
        <h2>Alamat: {{.Address.Street}} - {{.Address.City}}
    </body>
</html>